@charset "utf-8";

.team_select{
        max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;


}
.player_select{
    height: 30em;
overflow-y: scroll;
}

#match_control{
    display: inline-block;
    position: fixed;
    right: 300px
}