<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div><span id="team1_name"></span>: <span id="team1_points"></span>  <span id="time"></span>  <span id="team2_name"></span>: <span id="team2_points"></span></div>
</body>

<script>



</script>
<script>
    const ws = new WebSocket(`ws://127.0.0.1:8080/ws`);
    //console.log(JSON.parse("{\"teams\": [{\"name\": \"Test1\", \"score\": 0, \"faction\": 1}, {\"name\": \"Test2\", \"score\": 0, \"faction\": 2}], \"time_limit\": 900}"))
    ws.onmessage = (event) => {
        let msg = JSON.parse(event.data);


        console.log(msg)

        minutes = (msg.time / 60) | 0;
        seconds = (msg.time % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.querySelector('#time').textContent = minutes + ":" + seconds;
        document.querySelector('#team1_name').textContent=msg.teams[0].name
        document.querySelector('#team1_points').textContent=msg.teams[0].score
        document.querySelector('#team2_name').textContent=msg.teams[1].name
        document.querySelector('#team2_points').textContent=msg.teams[1].score

    }


</script>
</html>